body {
    font-family: 'Exo', sans-serif;
}

.backgroundImage {
    background-image: url("/static/carousel/plant1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

/* ! Background image for signup  */
.signupBackgroundImage {
    background-image: url("/static/carousel/plant1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    background-size: cover;
}

.swipeBackgroundImage {
    background-image: url("/static/carousel/Planting.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.profileBackgroundImage {
    background-image: url("/static/carousel/Planting.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
}

.backgroundImage {
    justify-content: center;
}

.form-control {
    width: 50%;
    display: inline-block;
}

.card {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 10px;
    color: black;
    text-align: center;

}

.reviewBackground {
    background-color: rgba(249, 252, 255, 0.721);

}

.reviewForm {
    background-color: rgba(15, 99, 91, 0.762);
    width: 75%;
    margin: auto;
    margin-bottom: 30px;
    padding: 30px;
}

.reviewForm input {
    width: 75%;
    text-align: center;
}

.reviewForm textarea {
    width: 75%;
}

.savedPlants {
    background-color: rgba(15, 99, 91, 0.762);
    width: 50%;
    margin: auto;
}

nav {
    background-color: rgba(15, 99, 91, 0.762) !important;
}

.yasPlants {
    width: 30%;
    margin: auto;
    background-color: rgba(15, 99, 91, 0.345) !important;
    list-style: none;
}

nav a {
    color: white !important;
    font-weight: bolder !important;
}

.reviewButtons {
    background-color: rgba(15, 99, 91, 0.66);
    border: 2px solid rgb(234, 240, 234);
    font-weight: bold;
    font-size: 13px;
    padding: 10px 24px;
    color: white;
    margin-top: 10px;
}

.profileForm {
    width: 30%;
}

.reviewCard {
    width: 40%;
    margin-left: 200px;
    margin-right: 200px;
}

.swipeCard {
    width: 400px;
    margin: auto;
}


.savedPlants {
    padding-bottom: 200px;
}

.field input,
#submit {
    height: 3em;
    font-size: 18px;
}

h3 {
    margin-top: 20px;
}

.form {
    margin-left: 16%;
}

.btn-success,
.btn-danger {
    margin: 10px;
    width: 50%;
}

/* ! Resizing the images  */
.card img {
    width: 400px;
    height: 400px;
}

.swipedThru {
    display: hidden;
    color: red;
}


.flashes,
.notification {
    background-color: white;
    color: black;
    text-align: center;
    font-size: 15px;
    list-style: none !important;
}

.notification,
.messages {
    background-color: black;
    color: white;
    list-style: none !important;

}

.flashes2 {
    list-style: none !important;

}

/* ! for landinga page */
.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}

.titleMessage .heading p {
    color: #fff;
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
    color: white
}

.titleMessage .heading .sub {
    font-size: 23px;
    color: goldenrod;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation i {
    font-size: 50px;

}

.field input {
    width: 400px;
}

form button {
    width: 400px;
}

/* !card  */
div.card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid black;
    width: 350px;
}

.container {
    width: 400px;
}
.card img {
    width: 350px;
    height: 326px;
}

