{% extends "layout.html" %}

{% block content %}

<div class="profileBackgroundImage ">
<h1 class="main animated fadeInRight">Hello<span><i class="fab fa-envira"></span></i> {{ user.username }}</h1>


<span class ="editProfileSpan">

 
<form method="post" action="{{ url_for('edit_profile') }}" novalidate>
    {{ form4.hidden_tag() }}

    <div>
      {{ form4.username.label }}
      <input class="form-control" id="username" name="username" type="text" value="{{ user.username }}">    </div>

    {{ form4.submit4(class_="reviewButtons") }}
    
  </form>
</span>

<button class='editProfileButton reviewButtons' >Edit Username</button>


<h1>My Plants and My Reviews</h1>

<div class= "reviewForm" >
<form   method="post" action="{{ url_for('create_review') }}" novalidate>
    {{ form.hidden_tag() }}

    <div>
      <div>
      {{ form.plant.label }}
    </div>
      {{ form.plant(class_="form-control ") }}
    </div>
    <div>
      <div>
      {{ form.rating.label }}
    </div>
      {{ form.rating(class_="form-control") }}
    </div>
    <div>
      <div>
      {{ form.text.label }}
      </div>
      {{ form.text(class_="form-control") }}
    </div>

    {{ form.submit(class_="reviewButtons") }}
  </form>

  {% with messages3 = get_flashed_messages(with_categories=true) %}
  {% if messages3 %}
    <ul class=flashes2>
    {% for category, message3 in messages3 %}
      <li class="{{ category }}">{{ message3 }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

</div>

  
{% for reviews in stream %}
  
      <div class="card reviewBackground">
        <div class="card-body reviewBackground">
              <span class="mySpan">
                  <form method="POST" action="" novalidate>
                      {{ form2.hidden_tag() }}
                  
                      <div>
                        {{ form2.plant.label }}
                        <input class="form-control" id="plant" name="plant" type="text" value="{{reviews.plant}}">
                      </div>
                      <div>
                        {{ form.rating.label }}
                        <input class="form-control rating" id="rating" name="rating" type="text" value="{{reviews.rating}}">
                      </div>
                      <div>
                        {{ form2.text.label }}
                        <input class="form-control" id="text" name="text" type="text" value="{{reviews.text}}">
                      </div>
                      <div>
                          <input class="form-control" hidden="hidden"  id="idNumber" name="idNumber" type="text" value="{{reviews.id}}">
                      </div>
                      {{ form2.submit2(class_="reviewButtons") }}

                    </form>
              </span>
          <p class="card-text">Species: {{ reviews.plant }}</p>
          <p class="card-text ratingStar">Rating: {{ reviews.rating }}</p>
          <p class="card-text">Review: {{ reviews.text }}</p>

          <button class='editButton reviewButtons ' >Edit</button>
          <a class= "reviewButtons"  href="{{url_for('delete', idNumber = reviews.id)}}" title="delete">Delete</a>
    
        </div>
      </div>
   
{% endfor %}
<h2>Saved Plants</h2>
<div class = "savedPlants">
{% for userPlants in stream2 %}
    <p  class="card-text ">{{ userPlants.userPlants }}</p>
{% endfor %}
</div>

</div>

{% endblock %}
