{% extends "layout.html" %}

{% block content %}




<h1>Hello {{ user.username }}</h1>

<span class ="editProfileSpan">
<form method="post" action="{{ url_for('edit_profile') }}" novalidate>
    {{ form4.hidden_tag() }}

    <div>
      {{ form4.username.label }}
      <input id="username" name="username" type="text" value="{{ user.username }}">    </div>

    {{ form4.submit4() }}
    
  </form>
</span>

<button class='editProfileButton' >Edit</button>


<h1>My Plants and My Reviews</h1>
<form method="post" action="{{ url_for('create_review') }}" novalidate>
    {{ form.hidden_tag() }}

    <div>
      {{ form.plant.label }}
      {{ form.plant() }}
    </div>
    <div>
      {{ form.rating.label }}
      {{ form.rating() }}
    </div>
    <div>
      {{ form.text.label }}
      {{ form.text() }}
    </div>

    {{ form.submit() }}
  </form>


{% for reviews in stream %}
      <div class="card" style="width: 18rem;">
        <div class="card-body">
              <span class="mySpan">
                  <form method="POST" action="" novalidate>
                      {{ form2.hidden_tag() }}
                  
                      <div>
                        {{ form2.plant.label }}
                        <input id="plant" name="plant" type="text" value="{{reviews.plant}}">
                      </div>
                      <div>
                        {{ form.rating.label }}
                        <input id="rating" name="rating" type="text" value="{{reviews.rating}}">
                      </div>
                      <div>
                        {{ form2.text.label }}
                        <input id="text" name="text" type="text" value="{{reviews.text}}">
                      </div>
                      <div>
                          <input hidden="hidden"  id="idNumber" name="idNumber" type="text" value="{{reviews.id}}">
                      </div>
                      {{ form2.submit2() }}

                    </form>
              </span>
          <p class="card-text">{{ reviews.plant }}</p>
          <p class="card-text">{{ reviews.rating }}</p>
          <p class="card-text">{{ reviews.text }}</p>

          <button class='editB' >Edit</button>
          <a  href="{{url_for('delete', idNumber = reviews.id)}}" title="delete">Delete</a>
    
        </div>
      </div>
{% endfor %}
<h2>Saved Plants</h2>
{% for userPlants in stream2 %}
    <p class="card-text">{{ userPlants.userPlants }}</p>

{% endfor %}

{% endblock %}
