{% extends "layout.html" %}
{% from 'macros.html' import render_field %}

{% block content %}
<h1 class="text-center">Swipe Page</h1>
<div class="card">
    <div>
        <img class="plantImage" src="{{url_for('static', filename='lizard.jpg')}}" />
    </div>

    <div>
        <span class="species">Species</span>
    </div>

    <div>
        <span class="difficulty">Difficulty</span>
    </div>

    <div>
        <span class="water">Water</span>
    </div>

    <div>
        <span class="light">Light</span>
    </div>

</div>


<div>
    <h1>Your Bebez</h1>
    <ul class="yasPlants">
    </ul>

</div>

<form method="POST" action="" class="group-form">
    {{ form.hidden_tag() }}
    {% for field in form %}
    {{ render_field(field) }}
    {% endfor %}
    <button class="submitButton btn-btn-primary" type="submit">Post</button>
</form>


{% endblock %}